.todo-app_add--right {
  padding: 0;
}

.todo-app_add--left {
  padding: 0;
}

.todo-app_add--btn-add {
  border-radius: 0 15px 0 0;
  min-width: 100px;
}

.todo-app_add--input {
  border-radius: 15px 0 0 0;
  padding-left: 10px;
  width: 379px;
  height: 36px;
}

.todo-app_add--btn-add {
  border-left: rgba(0, 0, 0, 0.125) 1px solid;
}

.form-control {
  border: none

}
