.todo-app_list--list-group {
  border-radius: 0 0 15px 15px;
}

.todo-app_list--item {
  border-radius: 0 0 15px 15px;
}

.todo-app_list--list-item:first-child .list-group-item:first-child {
  border-radius: 0 0 0 0 !important;
}

.todo-app_list--list-item:last-child .list-group-item:last-child {
  border-radius: 0 0 15px 15px !important;
}

.todo-app_list--tick-item, .todo-app_list--text-item {
  display: flex;
  align-items: center;
}
