.Root {
  border: thin solid black;
  border-radius: 8px;
  background-color: #e2e0e0;

  overflow: hidden;
}

.Root > :not(:last-child) {
  border-bottom: inherit;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Root {
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  transform: translate(/*-50%,*/ -50%);

  font-family: Helvetica;
}
