.Menu {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.MenuItem {
  cursor: pointer;
  margin: auto 7px;
}

.MenuItem:active {
  box-shadow: inset 1px 1px 10px
}


.MenuItem:hover {
  box-shadow: inset 1px 1px 10px
}

