.Root {
  background: #FFFFFF;
  padding: 45px 22px 0 22px;
}

.ChangePasswordForm {
  display: flex;
}

.ChangePasswordLabel {
  font-size: 36px;
  line-height: 42px;
}

.ChangePasswordInput {
  font-size: 36px;
  width: 444px;
  height: 77px;
}
