.NavBar {
  display: flex;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  background: #2C2C2C;
}

.NavName {
  font-size: 24px;
  margin: 0 7px;
  color: #FFFFFF;
}

.NavProfileIconContainer {
  display: flex;
  align-items: center;
}

.NavProfileIcon {
  margin: 0 7px;
  border: 1px #000000 solid;
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}

.UserMenuContainer {
  border-left: #000000 1px solid;
  margin-left: 7px;
}

.UserMenu {
  font-size: 27px;
  color: #6F6F6F;
}

.UserMenu:focus, .UserMenu:active {
  color: white;
  border-radius: 0;
  border-color: rgb(44, 44, 44);
  outline: 0;
}
