.Root {
  display: flex;
}

.ProfileIcon {
  /*margin: 0 7px;*/
  border: 5px #EEEEEE solid;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.NameProfile {
  font-size: 96px;
  line-height: 112px;
  margin: 0 0 20px 0 !important;
}
