.Root {
  padding: 10px;
  display: flex;
}

.Tick {
  width: 24px;
  height: 24px;
  margin-right: 16px;

  border: 2px solid black;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.Text {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.Delete {
  width: 24px;
  height: 24px;

  color: #df0006;
  font-size: 20px;
  font-weight: bold;
  text-align: right;

  cursor: pointer;
  user-select: none;
}
